.texto{
    width: 1134px;
}
.datos{
    font-size: 22px;
}
.azul{
    color:blue;
}
.rojo{
    color:red;
}
.rojooscuro{
    color:darkred;
}
.verde{
    color:green;
}
.morado{
    color:purple;
}
.azuloscuro{
    color:darkblue;
}