.footer{
    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 1134px;
    border-top: 1px solid black;
    margin-top: 30px;;
    }
.footer1{
    display:flex;
    align-self: center;
}
.footer2{
    display:flex;
    align-self: center;
}
.texto1{
    font-size: 26px;
}
.texto2{
    font-size: 14px;
}