
.noticias{
    list-style:none
}
.noticias-destacadas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1134px;
}
.noticia-destacada{
    height:350px;
    width:300px;
    background-color: rgb(236, 242, 246);
    display: flex;
    flex-direction: column;
}
.noticias-normales{
    display: flex;
    flex-direction: row;
    width: 1134px;
    margin-top: 100px;
}
.noticia-normal{
    height:380px;
    width:220px;
    background-color: rgb(236, 242, 246);
    margin-right: 60px;
    display: flex;
    flex-direction: column;
}
.imagen-destacada{
    height:150px;
    width:300px;
}
.imagen-normal{
    height:200px;
}
.azul{
    color:blue;
    font-size: 22px;
}
.rojooscuro{
    color:darkred;
    font-size: 22px;
}
.verde{
    color:green;
    font-size: 22px;
}
.titulo{
    font-size: 22px;
}
.bazul{
    background-color:blue;
    color: white;
    width:80px;
    display: flex;
    align-self: center;
}
.brojooscuro{
    background-color:darkred;
    color: white;
    width:80px;
    display: flex;
    align-self: center;
}
.bverde{
    background-color: green;
    color: white;
    width:80px;
    display: flex;
    align-self: center;
}
.boton-normal{
    width:80px;
    display: flex;
    align-self: center;
}
.texto{
    font-size: 14px;
}