.mensaje{
    display: flex;
    justify-content: center;
    width: 1134px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.boton{
    background-color: rgb(28, 3, 93);;
    color: white;
    border: 1px solid black;
}