<div class="formulario">
<form [formGroup]="formulario" class="row g-3" (ngSubmit)="validacion()">
    <div class="col-md-4">
      <label class="form-label">Nombre Completo</label>
      <input type="text" class="form-control" formControlName="nombre">
      <div  *ngIf="formulario.controls['nombre'].invalid && (formulario.controls['nombre'].dirty || formulario.controls['nombre'].touched)" class="alert alert-danger">
       Campo obligatorio
      </div>
    </div>

    <div class="col-md-4">
      <label class="form-label">Teléfono</label>
      <input type="text" class="form-control" formControlName="telefono" pattern="[0-9]+">
      <div  *ngIf="formulario.controls['telefono'].invalid && (formulario.controls['telefono'].dirty || formulario.controls['telefono'].touched)" class="alert alert-danger">
        <div *ngIf="formulario.controls['telefono'].hasError('required')">
          Campo obligatorio
        </div>
        <div *ngIf="formulario.controls['telefono'].hasError('pattern')">
          El numero no tiene el formato correcto
        </div>
        <div *ngIf="formulario.controls['telefono'].hasError('minlength')">
          El numero no tiene el largo necesario
        </div>
        <div *ngIf="formulario.controls['telefono'].hasError('maxlength')">
          El numero no tiene el largo necesario
        </div>
       </div>
    </div>

    <div class="col-md-4">
      <label class="form-label">Correo Electronico</label>
        <input type="email" class="form-control" formControlName="email">
        <div  *ngIf="formulario.controls['email'].invalid && (formulario.controls['email'].dirty || formulario.controls['email'].touched)" class="alert alert-danger">
          <div *ngIf="formulario.controls['email'].hasError('required')">
            Campo obligatorio
          </div>
          <div *ngIf="formulario.controls['email'].hasError('email')">
            El mail no tiene el formato correcto
          </div>
        </div>

    </div>

    <div class="col-md-4">
        <label>Dirigido a:</label>
        <select class="form-select" required aria-label="select example" formControlName="select">
          <option value="">Selecciona una opcion</option>
          <option value="1">contenidos</option>
          <option value="2">publicidad</option>
          <option value="3">sugerencias</option>
          <option value="3">suscripciones digitales</option>
        </select>
        <div  *ngIf="formulario.controls['select'].invalid && (formulario.controls['select'].dirty || formulario.controls['select'].touched)" class="alert alert-danger">
          Campo obligatorio
         </div>
      </div>
    <div class="col-md-8">
      <label class="form-label">Mensaje</label>
      <textarea class="form-control" formControlName="mensaje" rows="3"></textarea>
      <div  *ngIf="formulario.controls['mensaje'].invalid && (formulario.controls['mensaje'].dirty || formulario.controls['mensaje'].touched)" class="alert alert-danger">
        Campo obligatorio
       </div>
    </div>
    
    <div class="col-12">
      <button  class="btn btn-primary" [disabled]="!formulario.valid" type="submit" [routerLink]="['/submit']" routerLinkActive="router-link-active">Enviar</button>
      <!--<button  class="btn btn-primary" type="submit"><a class="nombre-boton" [routerLink]="['/submit']" routerLinkActive="router-link-active">Enviar</a></button>-->
    </div>
  </form>
</div>